:host {
  display: block;
}

::ng-deep .staff-form-dialog {
  mat-dialog-container {
    padding: 0 !important;
    border-radius: 24px !important;
    overflow: hidden !important;
  }

  .mat-mdc-dialog-surface {
    border-radius: 24px !important;
    background: white !important;
  }
}
