:host {
  display: block;
  height: 85vh;
  min-width: 900px;
}

.teaching-modal {
  height: 100%;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
}

// Styles pour les sélecteurs inline dans le tableau
::ng-deep .tm-inline-select {
  background-color: white !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 10px !important;
  padding: 0 12px !important;
  height: 38px !important;
  display: flex !important;
  align-items: center !important;
  transition: all 0.2s !important;

  &:hover {
    border-color: #cbd5e1 !important;
    background-color: #f8fafc !important;
  }

  &.mat-mdc-select-focused {
    border-color: #2563eb !important;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.05) !important;
  }

  .mat-mdc-select-value {
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #475569 !important;
  }
}

// Styles pour les sélecteurs et inputs du formulaire manuel
::ng-deep .tm-form-select, .tm-form-input {
  width: 100%;
  height: 3rem !important;
  background-color: white !important;
  border: 1px solid #e2e8f0 !important;
  border-radius: 12px !important;
  padding: 0 12px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  outline: none !important;
  transition: all 0.2s !important;
  display: flex !important;
  align-items: center !important;

  &:focus, &.mat-mdc-select-focused {
    border-color: #2563eb !important;
    box-shadow: 0 0 0 4px rgba(37, 99, 235, 0.05) !important;
  }
}

.tm-form-input {
  padding: 0 16px !important;
}

// Panneaux de sélection (Dropdowns)
::ng-deep .mat-mdc-select-panel {
  background-color: white !important;
  border-radius: 12px !important;
  border: 1px solid #e2e8f0 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}
