<div class="force-password-layout">
  <div class="auth-card animate-in fade-in zoom-in duration-500">
    
    <header class="auth-header">
      <div class="icon-circle bg-amber-50 text-amber-500">
        <lucide-icon [name]="Key" [size]="24"></lucide-icon>
      </div>
      <h2>Sécurisation requise</h2>
      <p>Pour votre première connexion, vous devez définir un nouveau mot de passe personnel.</p>
    </header>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="auth-form space-y-6">
      
      <!-- Ancien -->
      <div class="fw-field">
        <label class="fw-label">Mot de passe actuel</label>
        <div class="fw-input-wrapper">
          <input [type]="showOld() ? 'text' : 'password'" formControlName="oldPassword" class="fw-input" [class.error]="isInvalid('oldPassword')">
          <button type="button" class="eye-btn" (click)="showOld.set(!showOld())">
            <lucide-icon [name]="showOld() ? EyeOff : Eye" [size]="16"></lucide-icon>
          </button>
        </div>
      </div>

      <div class="divider-h"></div>

      <!-- Nouveau -->
      <div class="fw-field">
        <label class="fw-label">Nouveau mot de passe</label>
        <div class="fw-input-wrapper">
          <input [type]="showNew() ? 'text' : 'password'" formControlName="newPassword" class="fw-input" [class.error]="isInvalid('newPassword')">
          <button type="button" class="eye-btn" (click)="showNew.set(!showNew())">
            <lucide-icon [name]="showNew() ? EyeOff : Eye" [size]="16"></lucide-icon>
          </button>
        </div>
      </div>

      <!-- Confirmation -->
      <div class="fw-field">
        <label class="fw-label">Confirmer le mot de passe</label>
        <div class="fw-input-wrapper">
          <input type="password" formControlName="confirmPassword" class="fw-input" [class.error]="isInvalid('confirmPassword') || passwordForm.hasError('mismatch')">
        </div>
        <p class="error-text text-[10px] font-bold text-rose-500 mt-1 uppercase" *ngIf="passwordForm.hasError('mismatch') && passwordForm.get('confirmPassword')?.touched">
          Les mots de passe ne correspondent pas
        </p>
      </div>

      <!-- Critères -->
      <div class="p-4 bg-slate-50 rounded-xl border border-slate-100 flex gap-3">
        <lucide-icon [name]="AlertCircle" [size]="16" class="text-slate-400 shrink-0"></lucide-icon>
        <ul class="text-[11px] text-slate-500 leading-relaxed list-disc ml-3">
            <li>Minimum 8 caractères</li>
            <li>Évitez les informations trop évidentes</li>
        </ul>
      </div>

      <app-fw-button 
        type="submit" 
        variant="primary" 
        size="md" 
        class="w-full h-12 text-base" 
        [loading]="isLoading()"
        [disabled]="passwordForm.invalid"
      >
        Enregistrer et continuer
      </app-fw-button>

    </form>

  </div>
</div>
