<div class="shell-layout selection:bg-primary selection:text-white antialiased">
  
  <!-- Loader de Page (Style YouTube) -->
  <fw-page-progress *ngIf="loadingService.isLoading() && loadingService.context() === 'page'"></fw-page-progress>

  <!-- Rail de Navigation (D├®sormais Full Height) -->
  <app-rail></app-rail>

  <div class="shell-container">
    <!-- Header Sup├®rieur (Global Services) -->
    <app-header></app-header>

    <div class="shell-body">
      <!-- Sidebar du Module (Collapsible) -->
      <app-sidebar></app-sidebar>

      <!-- Zone de Contenu Principale -->
      <main class="shell-main relative">
        <div class="content-wrapper">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
</div>
