<div class="shell-layout selection:bg-primary selection:text-white antialiased">
  
  <!-- Rail de Navigation (Full Height) -->
  <app-rail></app-rail>

  <!-- Sidebar du Module (Full Height) -->
  <app-sidebar></app-sidebar>

  <div class="shell-container">
    <!-- Zone de Contenu Principale -->
    <main class="shell-main relative">
      <!-- Loader localis├® uniquement sur la zone de contenu -->
      <fw-page-progress *ngIf="loadingService.isLoading() && loadingService.context() === 'page'"></fw-page-progress>

      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
